.contenedor {
    width: 380px;
    height: 50px;
    background-color: rgba(243, 243, 243, 0.829);
    border: 2px solid rgb(236, 229, 229);
    border-radius: 10px 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.labText {
    margin: 5px;
    font-size: 18px;
    color: gray;
}

.labTextPC {
    margin: 0%;
    font-size: 18px;
    color: gray;
    text-align: left;
}

.labTextEmail{
    margin-left: 18px;
    font-size: 18px;
    color: gray; 
}

.inputStyle {
    background-color: white;
    height: 30px;
    width: 215px;
    border-radius: 6px 6px;
    border: 1px solid rgb(228, 224, 224);
    margin-left: 15px;
}

.inputStyleE {
    background-color: white;
    height: 30px;
    width: 215px;
    border-radius: 6px 6px;
    border: 1px solid rgb(228, 224, 224);
    margin-left: 30px;
}

.inputStylePC {
    background-color: white;
    height: 30px;
    width: 215px;
    border-radius: 6px 6px;
    border: 1px solid rgb(228, 224, 224);
    margin-right: 25px;
}

.inpBtn {
    background-color: cadetblue;
    width: 100px;
    height: 40px;
    border-radius: 6px 6px;
    color: white;
}